$primary-color: #FFAE74;
$secondary-color: #D7D1E3;
$accent-color: #262526;

$body-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;

.snack-form {
  border: 4px solid #2E2E30;
  background-color: $accent-color;
  border-radius: 10px;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: $primary-color;
}

#input-taste {
  margin-left: 5px;
}

.form-input, select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: $secondary-color;
}

.invalid-feedback {
  color: red;
  margin-top: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button_primary {
  background-color: $primary-color;
  color: #fff;
}

.button_default {
  background-color: $secondary-color;
  color: $primary-color;
  margin-left: 10px;
}

.CurdSnackList {
  margin-top: 40px;
}

.no-data {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.storage-mode__options {
  display: flex;
  justify-content: space-between;
}

.storage-mode__option {
  display: flex;
  gap: 6px;
}

.snack-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 3px;
}

.flex {
  display: flex;
  gap: 20px;
  max-width: 320px;
  flex-wrap: wrap;
}