.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: #e1fff9;
  padding: 20px;

  .form-block {
    margin-bottom: 20px;

    .form-input {
      border: 2px solid #ccc;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    .error-span {
      color: red;
    }
  }

  .form__button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .message-span {
    color: green;
  }
}
