.input {
  &__field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;

    &::placeholder {
      color: #aaa;
    }
  }
}
