@import './abstract/mixins.scss';
@import './base/font.scss';
@import './abstract/variables.scss';
@import './base/normalize.scss';
@import './layout/Header';
@import './layout/Footer';
@import './components/SearchBar';
@import './components/CardList';

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}